.little-container {
	border-radius: 5px;
	background-clip: padding-box;
	vertical-align: middle;
	padding: 35px 35px 15px 35px;
	background: #fff;
	border: 1px solid #eaeaea;
	box-shadow: 0 0 25px #cac6c6;
}